<%= link_to "К списку", admin_mail_templates_path %>

<% if flash[:notice] %>
    <div style="border: 1px red solid; color: green; background-color: darkgray;">
      <%= flash[:notice] %>
    </div>
<% end %>

<h1>Создание нового шаблона</h1>

<%= render :partial => "form" %>
